<section id="intro">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<hgroup>
				<h1>Votre carte de visite digitale <span>intemporelle</span></h1>
				<h2>Créer votre carte de visite et partager là facilement via notre service afin que l'on puisse vous retrouver tout au long de votre carrière</h2>
			</hgroup>
		</div>
	</div>
</section>

<section class="content">
	<div class="container first">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-10">
						<h1 class="h1">
							<span>Un lien permanent,</span>
							<span>toujours valide</span>
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>votre carte de vistie en ligne possède une adresse internet permanente qui permet de péréniser votre contact tout au long de votre carrière. Partager ce lien et vous serez toujours contactable, même des années après.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-10">
						<h1 class="h1">
							<span>Enregistrement sur mobile,</span>
							<span>simplifié</span>
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>Votre contact est facilement enregistrable dans le carnet d'adresse de votre nouvelle relation grâce à notre service.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-10">
						<h1 class="h1">
							<span>Inscrivez-vous via LinkedIn,</span>
							<span>votre page sera toujours à jour</span>
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>L'inscription via linkedIn permet de récupérer vos informations et de la tenir à jour.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-10">
						<h1 class="h1">
							<span>Suivez vos contacts,</span>
							<span>retrouvez les facilement</span>
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>Vous pouvez suivre les contacts inscris sur notre service et ainsi retrouver leurs informations à jour tout le temps.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

</section>