body {
	/*padding-top:70px;*/
	width: 100%;
    height: 100%;
	width: 100%;
    height: 100%;
    font-family: Arial,"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #00B7FF;
}

.submit-btn {
	background-color: #b1dbff;
	margin: 10px 0 10px 0;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}

.container-main {
	max-width: 780px;
	margin: 20px auto 0 auto;
	float: none;
	background-color: rgba(241, 241, 241, 0.9);
	border: 1px solid #ccc;
}

.container-main.first {
	margin: -200px auto 0 auto;
}

h1 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: -2px;
	font-size: 26px;
	padding: 6px 0;
	line-height: 26px;
}

.h1 {
	color: rgb(47, 47, 47);
	/*font-family: NeuzeitBold;*/
	font-size: 96px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	height: 104px;
	letter-spacing: -4px;
	line-height: 96px;
	padding: 0;
}

.header-bg {
	max-height: 450px;
	overflow: hidden;
}

.header-bg img {
	min-width: 100%;
}

.logo {
	background-color: #fff;
}

.logo img {
	margin: 0 auto;
	display: block;
	max-height: 100px;
}

.profil-header {
	padding-top: 20px;
}

.profil-pic img {
	display: block;
	margin: 0 auto 20px;
	width: 150px;
	max-height: 180px;
	padding: 5px;
	/*border: 1px solid #bbb;*/
}

.firstName {
	font-size: 50px;
	line-height: 50px;
	height: auto;
	text-transform: uppercase;
	margin-bottom: 0;
}

.lastName {
	font-size: 45px;
	line-height: 45px;
	height: auto;
	text-transform: capitalize;
	letter-spacing: -2px;
	margin-top: 0;
}

.jobTitle {
	margin: 6px 0 0 0;
	font-size: 24px;
}

.border-small {
	height: 1px;
	width: 150px;
	background-color: #666;
	margin: 4px 0 4px 0;
}

.border-large {
	height: 4px;
	width: 200px;
	background-color: rgb(3, 15, 64);
}

.border-large.top {
	margin: 20px 0 6px 0;
}

.border-large.bottom {
	margin: 6px 0 10px 0;
}

.border-large-h1 {
	margin: 0;
	padding: 0;
}